.page-welcome.bold 欢迎你，#{current_user.name}

.page-auth-intro
  .title 关于如何在开发中使用用户验证的说明
  .p
    在 View 和 Controller 层，可以使用以下方法
  .p
    .bold current_user
    获得当前登录的用户对象。如果没有登录，则返回 nil
  .p
    .bold logged_in?
    判断当前是否是登录状态

 
.page-to-votes
  =link_to '问题列表','/problem_reports'

  - if current_user.is_admin?
    = link_to '问题类别列表', problem_types_path
    = link_to '问题的内容字段', new_problem_field_path

.page-to-logout
  =link_to "退出登录","/logout"
