%p
  = flash[:error]

= form_for @problem_report do |f|
  %p 
    %span 内容
    %textarea{:id => "", :name => "problem_report[content]", :style => "width: 380px; height: 100px;"}
  
  %p 
    %span Email
    %input{:name => "email", :size => "30", :type => "text"}/
  

  %p 
    %span 验证码
    = show_simple_captcha  :label => "请输入验证码"
      
  .field
    %a.form-submit-button{:href=>'javascript:;'} 发送

    
