= form_for @problem_report do |f|
  %p
    问题类型
    = select ("problem_report", "problem_type_id", @problem_types.map {|u| [u.name,u.id]})
  %p
    %textarea{:id => "", :name => "problem_report[content]", :style => "width: 380px; height: 100px;"}
      
  .field
    %a.form-submit-button{:href=>'javascript:;'} 发送
    

  %p
    我提过的意见
    %ul
      - unless @reports.blank?
        - @reports.each do |report|
          %li
            = report.content
            %p 
              = report.created_at
      